.spacing{ 
  margin-top: 20px;
  margin-left: 20px;
  margin-top:20px; 
  margin-bottom:20px;
} 

.align_right{
  width: auto;
  float: right;
}

.align_left{
  width: auto;
  float: left;
}

.td_left{
  width: 200px;
  vertical-align: top;
  height: auto;
}